{% extends 'layout.html' %}

{% block content %}
<form action="/contacts/{{ contact.id }}/edit" method="POST">
    <fieldset>
        <legend>Contact details</legend>

        <div>
            <label for="name">Name</label>
            <input id="name" name="name" type="text" required value="{{ contact.name or '' }}">
            <span class="error">{{ contact.errors['name'] }}</span>
        </div>

        <div>
            <label for="email">Email</label>
            <input id="email" name="email" type="email" required value="{{ contact.email or '' }}"
                hx-get="/contacts/{{ contact.id }}/email" hx-target="next .error">
            <span class="error">{{ contact.errors['email'] }}</span>
        </div>

        <div>
            <label for="phone">Phone</label>
            <input id="phone" name="phone" type="tel" required value="{{ contact.phone or '' }}">
            <span class="error">{{ contact.errors['phone'] }}</span>
        </div>
    </fieldset>

    <button type="submit">Update contact</button>
</form>

<form action="/contacts/{{ contact.id }}/delete" method="post" hx-delete="/contacts/{{ contact.id}}"
    hx-confirm="Are you sure you want to delete this contact?" hx-target="body" hx-push-url="true">
    <button type="submit">Delete Contact</button>
</form>

<p>
    <a href="/contacts">Back to contacts</a>
</p>
{% endblock %}