{% extends 'layout.html' %}

{% block content %}
<form action="/contacts" class="tool-bar">
    <label for="search">Search term</label>
    <input id="search" name="q" type="search" value="{{ request.args.get('q') or '' }}" hx-get="/contacts"
        hx-trigger="change, keyup delay:300ms changed" hx-target=".js-contacts-table tbody" hx-push-url="true"
        hx-indicator="#spinner" />
    <img style="height: 20px" id="spinner" class="js-htmx htmx-indicator" src="/static/img/spinning-circles.svg"
        alt="Request In Flight..." />
    <button type="submit">Search</button>
</form>

<table class="js-contacts-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% include 'contacts/_list.html' %}

        {% if contacts|length == 5 %}
        <tr class="js-htmx">
            <td colspan="4" style="text-align: center">
                <span hx-target="closest tr" hx-trigger="revealed" hx-swap="outerHTML" hx-select="tbody > tr"
                    hx-get="/contacts?page={{ page + 1 }}">
                    Loading...
                </span>
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>

<div class="js-no-htmx">
    <span style="float: right">
        {% if page > 1 %}
        <a href="/contacts?page={{ page - 1 }}">Previous</a>
        {% endif %}

        <!-- TODO read length from constants -->
        {% if contacts|length == 5 %}
        <a href="/contacts?page={{ page + 1 }}">Next</a>
        {% endif %}
    </span>
</div>

<p>
    <a href="/contacts/new">Add Contact</a>
</p>
{% endblock %}