{% extends 'layout.html' %}

{% block content %}
<form action="/contacts" class="tool-bar">
    <label for="search">Search term</label>
    <input id="search" name="q" type="search" value="{{ request.args.get('q') or '' }}" />
    <button type="submit">Search</button>
</form>

<table class="js-contacts-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact.name }}</td>
            <td>{{ contact.phone }}</td>
            <td>{{ contact.email }}</td>
            <td>
                <a href="/contacts/{{ contact.id }}/edit">Edit</a>
                <a href="/contacts/{{ contact.id }}">View</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- TODO read length from constants -->
{% if contacts|length == 10 %}
<button class="js-htmx" type="button" hx-target=".js-contacts-table tbody" hx-swap="beforeend" hx-select="tbody > tr"
    hx-get="/contacts?page={{ page + 1 }}">
    Load More
</button>
{% endif %}

<div>
    <span style="float: right">
        {% if page > 1 %}
        <a href="/contacts?page={{ page - 1 }}">Previous</a>
        {% endif %}

        <!-- TODO read length from constants -->
        {% if contacts|length == 10 %}
        <a href="/contacts?page={{ page + 1 }}">Next</a>
        {% endif %}
    </span>
</div>

<p>
    <a href="/contacts/new">Add Contact</a>
</p>
{% endblock %}